$primary: hsl(198, 83%, 51%);
$dark_blue: hsla(198, 83%, 41%, 1);
$dark: hsla(0, 0%, 20%, 1);
$white: hsla(0, 100%, 100%, 1);
$gray: hsla(0, 0%, 87%, 1);
$bg_gray: hsla(0, 0%, 95%, 1);
$shadow: hsla(0, 0%, 20%, 0.3);
$lite_shadow: hsla(0, 0%, 20%, 0.2);
$box_shadow: 0 0.375rem 0.875rem $lite_shadow;